<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>JetBrainsMono-Bold.ttf</string>
		<string>RobotoMono-Bold.ttf</string>
		<string>RobotoMono-Light.ttf</string>
		<string>RobotoMono-Medium.ttf</string>
		<string>RobotoMono-Regular.ttf</string>
		<string>RobotoMono-SemiBold.ttf</string>
		<string>RobotoMono-Thin.ttf</string>
		<string>JetBrainsMono-Thin.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-SemiBold.ttf</string>
		<string>JetBrainsMono-Light.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-Medium.ttf</string>
	</array>
</dict>
</plist>
